/* 전체 */
body {
  color: pink;
  font-size: 20px;
  text-align: center;
}

/* hidden 태그로 해당 텍스트를 감추거나 드러냄 */
.hidden {
  display: none;
}

/* 배경 */
img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 50%;
}

/* 날씨 영역 */
#weather {
  text-align: left;
}

/* 시계 및 인삿말 영역 */
h1 {
  margin: 0;
}

/* 시계 영역 */
#clock {
  font-size: 200px;
}

/* 로그인 폼, 인삿말 영역 */
#login-form,
#greeting {
  font-size: 50px;
}

/* 사용자 이름 입력란, 투두 입력란 */
input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 25px;
  border-bottom: 2px solid pink;
  color: pink;
}
input::placeholder {
  color: pink;
}
input:focus,
input:active {
  outline: none;
}

/* 투두 목록 */
#todo-list {
  font-size: 25px;
  list-style-type: none;
  padding: 50px;
  margin: 0;
}

/* 삭제 버튼 */
button {
  width: 40px;
  height: 35px;
  font-size: 30px;
  text-align: center;
  border: 0;
  outline: 0;
  color: pink;
  background-color: transparent;
}

#quote {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
}
